.botao{
    background-color: #f51414;
    border-radius: 10px;
    font-weight: 700px;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #ffff;
    margin: 32px 0;
}

.botao:hover{
    color: #95ffd4;
}